{% load allauth socialaccount %}
<!-- vd -->
{% get_providers as socialaccount_providers %}
<!-- dd -->
{% if socialaccount_providers %}
<!-- cd -->
{% element provider_list %}
<!-- for -->
{% for provider in socialaccount_providers %}
<!-- if -->
{% if provider.id == "openid" %}
<!-- fd -->
{% for brand in provider.get_brands %}
<!-- for -->
{% provider_login_url provider openid=brand.openid_url process=process as href %}
<!-- vcv -->
{% element provider name=brand.name provider_id=provider.id href=href %} {% endelement %}
<!-- fd -->
{% endfor %}
<!-- endif -->
{% endif %}
<!-- priv -->
{% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
<!-- xvc -->
{% element provider name=provider.name provider_id=provider.id href=href %} {% endelement %}
<!-- xcd -->
{% endfor %}
<!-- cvc -->
{% endelement %}
<!-- fcd -->
{% endif %}
