{% load static i18n %}
<!-- get lang -->
{%get_current_language as LANGUAGE_CODE %}
<!-- load -->
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %} {% trans "Rhixescans" %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Read Free High Quality Comics here!" />
    <meta name="author" content="Alexander E Iseghohi" />
    <link rel="icon" href="{% static 'images/logos/logo.ico' %}" type="image/x-icon" />

    <!-- css -->
    {% block css %}
    <!-- nn -->
    {% render_bundle 'index' 'css' %}
    <!-- nhg -->
    {% endblock css %}
    <!-- js -->
    {% block js %}
    <!-- nm -->
    {% render_bundle 'index' 'js' attrs='defer' %}
    <!-- nnm -->
    {% render_bundle 'vendors' 'js' attrs='defer' %}
    <!-- nn -->
    <script async defer src="{% static 'scripts/jquery.js' %}"></script>

    <script async defer src="{% static 'scripts/buttons.js' %}"></script>
    <!-- endjs -->
    {% endblock js %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="false" class="{% block bodyclass %}{% endblock bodyclass %}">
    <!-- body -->
    {% block body %}
    <div class="bg-gray-100 dark:bg-gray-900">
      <!-- header -->
      {% include 'partials/header.html' %}
      <!-- sidebar -->
      {% include 'partials/sidebar.html' %}
      <div class="flex overflow-hidden pt-16">
        <div id="main-content" class="relative w-full overflow-y-auto lg:ml-64">
           <!-- message -->
           {% include 'partials/message.html' %}
          <main>
            {% block main %}
            <!-- content -->
            {% block content %}
            {% endblock content %}
            <!-- endcontent -->
            {% endblock main %}
          </main>

          {% include 'partials/footer.html' %}
        </div>
      </div>
    </div>
    {% endblock body %}
    <!-- extra -->

    {% block modal %} {% endblock modal %}
    <!-- body -->
    {% block injs %} {% endblock injs %}
  </body>
</html>
