{% load static i18n widget_tweaks crispy_forms_tags tailwind_filters %}
<!-- UsersCreate -->
{% block Userscreate %}

<button
  type="button"
  id="modalButton"
  class="flex items-center justify-center rounded-lg bg-primary-700 px-4 py-2 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
  _="on click add .hidden to #modalButton then remove .hidden from #modalEl"
>
  <svg
    class="mr-2 h-3.5 w-3.5"
    fill="currentColor"
    viewbox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
    />
  </svg>
  Add user
</button>
<div
  id="modalEl"
  tabindex="-1"
  aria-hidden="true"
  class="{% if not form.errors %} {% endif %} fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600"
      >
        <h3
          class="text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl"
        >
          Create User
        </h3>
        <button
          type="button"
          id="modalButtonClose"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          _="on click remove .hidden from #modalButton then add .hidden to #modalEl then put '' into <textarea />'s value then put '' into <input />'s value then put '' into <select />'s value"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <form
        hx-post="{% url 'users:list' %}"
        hx-encoding="multipart/form-data"
        _="on user_added remove .hidden from #modalButton then add .hidden to #modalEl then put '' into <textarea />'s value then put '' into <input />'s value then put '' into <select />'s value"
      >
        <div class="space-y-4 p-4">
          <div>
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                {{ form.email|add_label_class:"form-label" }}
                <!-- email input -->
                {% render_field form.email %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.email.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.email.errors }}
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                {{ form.username|add_label_class:"form-label" }}
                <!-- username input -->
                {% render_field form.username %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.username.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.username.errors }}
                </div>
              </div>

              <div class="col-span-6">
                {{ form.images|add_label_class:"form-label" }}
                <!-- images input -->
                {% render_field form.images class="form-files" %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.images.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.images.errors }}
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                {{ form.password1|add_label_class:"form-label" }}
                <!-- password1 input -->
                {% render_field form.password1 %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.password1.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.password1.errors }}
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                {{ form.password2|add_label_class:"form-label" }}
                <!-- password2 input -->
                {% render_field form.password2 %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.password2.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.password2.errors }}
                </div>
              </div>
              <div class="col-span-6">
                {{ form.captcha|add_label_class:"form-label" }}
                <!-- captcha input -->
                {% render_field form.captcha %}
                <span class="ml-3 text-sm text-gray-400">
                  {{ form.captcha.help_text }}
                </span>
                <div class="ml-3 text-xs text-red-400">
                  {{ form.captcha.errors }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div
          class="flex items-center space-x-2 rounded-b border-t border-gray-200 p-6 dark:border-gray-600 rtl:space-x-reverse"
        >
          <button
            type="submit"
            class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Create
          </button>
          <button
            type="button"
            class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            Decline
          </button>
        </div>
      </form>
      <!-- Modal body -->
    </div>
  </div>
</div>

{% endblock Userscreate %}
