{
  "plugins": ["prettier-plugin-organize-imports","prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.cjs",
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}