{% extends "base.html" %} {% load static i18n %}
<!-- title -->
{% block title %} {% trans 'Index' %} {% endblock title %}
<!-- content -->
{% block content %}

<div class="p-4">
  {% if topcomics %}
  <div>
    <h3
      class="mb-4 text-2xl font-bold leading-none tracking-tight text-gray-900 dark:text-white md:text-3xl lg:text-4xl"
    >
      Top Comics
    </h3>
    {% include 'partials/views/carousel.html' %}
  </div>
  {% endif %}
  <hr />
  {% if featuredcomics %}
  <div class="mb-4 mt-4">
    <h3
      class="mb-4 text-2xl font-bold leading-none tracking-tight text-gray-900 dark:text-white md:text-3xl lg:text-4xl"
    >
      Featured Comics
    </h3>
    <div class="grid grid-cols-2">
      {% for feat in featuredcomics %}
      <div
        class="me-4 block rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white"
      >
        {% if feat.images %}
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
          <img
            class="rounded-s-lg"
            src="{{ feat.images.url   }}"
            alt="{{ feat.title   }}"
          />
        </div>
        {% else%}
        <div class="relative overflow-hidden bg-cover bg-no-repeat">
          <img
            class="rounded-s-lg"
            src="{{ feat.image_urls   }}"
            alt="{{ feat.title   }}"
          />
        </div>
        {% endif %}

        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight">
            {{ feat.title }}
          </h5>
          <p class="mb-4 text-base">{{ feat.description|truncatechars:100 }}</p>
          <button
            type="button"
            href="#"
            class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
            data-twe-ripple-init
            data-twe-ripple-color="light"
          >
            {{feat.category.name}}
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <hr />
  {% if comics %}
  <div class="mb-4 mt-4" id="comics-grid">
    <h3
      class="mb-4 text-2xl font-bold leading-none tracking-tight text-gray-900 dark:text-white md:text-3xl lg:text-4xl"
    >
      Recent Updates
    </h3>
    <div class="m-2 grid w-auto grid-cols-3 grid-rows-4 gap-2">
      {% for comic in comics %}
      <div
        class="card card-compact w-auto border border-blue-600 bg-base-100 p-2 shadow-xl"
      >
        <figure>
          <a href="{{comic.get_absolute_url}}"
            ><img src="{{comic.images.url}}" alt="Shoes"
          /></a>
        </figure>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{comic.get_absolute_url}}">{{comic.title|title}} </a>
          </h4>
          <p>
            Type:
            <a href="{{comic.category.get_absolute_url}}"
              >{{comic.category.name}}</a
            >
          </p>

          <p>Status: {{comic.get_status_display}}</p>
          <div class="flex items-center gap-1">
            <span
              class="fa fa-star {% if comic.rating > 5.5 %} checked {% endif %} text-yellow-300"
            ></span>
            <span
              class="fa fa-star {% if comic.rating > 6.5 %} checked {% endif %} text-yellow-300"
            ></span>
            <span
              class="fa fa-star {% if comic.rating > 7.5 %} checked {% endif %} text-yellow-300"
            ></span>
            <span
              class="fa fa-star {% if comic.rating > 8.5 %} checked {% endif %} text-yellow-300"
            ></span>
            <span
              class="fa fa-star {% if comic.rating > 9.5 %} checked {% endif %} text-yellow-300"
            ></span>
            <p
              class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
            >
              {{comic.rating}}
            </p>
          </div>

          {% if comic.genres.all %}
          <div class="flex flex-row flex-wrap justify-between">
            {% for genre in comic.genres.all %}
            <a
              role="button"
              href="{{genre.get_absolute_url}}"
              class="btn btn-primary btn-sm inline-flex"
              >{{genre.name}}</a
            >
            {% endfor %}
          </div>
          {% endif %} {% if comic.chapter_comic.all %}
          <div
            class="w-92 rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
          >
            <span
              class="block w-full cursor-pointer rounded-t-lg border-b border-gray-200 bg-blue-700 px-4 py-2 text-white dark:border-gray-600 dark:bg-gray-800"
            >
              Recent Chapters
            </span>
            {% for chapter in comic.chapter_comic.all %}
            <a
              href="{{chapter.get_absolute_url}}"
              class="block w-full cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-gray-500"
            >
              {{chapter.name}}
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <!-- df -->
  {% load component_tags %}
  <!-- injs -->
  {% component "card" title="Solo Leveling" %} {% endcomponent %}
  <!-- end -->
</div>
{% endblock content %}
<!-- injs -->

{% block injs %}
<!-- injs -->
{% component_js_dependencies %}
<!-- injs -->
{% endblock injs %}
