{% extends "account/base_entrance.html" %}
<!-- xz -->
{% load static i18n allauth account %}
<!-- xcx -->
{% block title %} {% translate "Sign In" %} {% endblock title %}
<!-- xc -->
{% block content %}
<div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-2 pt-4 dark:bg-gray-900">
  <a href="{% url  'index' %}" class="mb-8 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-10">
    <img src="{% static 'images/logos/logo.png' %}" class="mr-4 h-11" alt="Rhixescans Logo" />
    <span>Rhixescans</span>
  </a>
  <div>
    {% element h2 %} {% translate "Enter Sign-In Code" %} {% endelement %}
    <!-- ccx -->
    {% setvar email_link %}
    <a href="mailto:{{ email }}">{{ email }}</a>
    {% endsetvar %}
    <!-- cxcx -->
    {% element p %}
    <!-- bjnn -->
    {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    <!-- hj -->
    {% endelement %}
    <!-- cx -->
    {% url 'account_confirm_login_code' as login_url %}
    <!-- cx -->
    {% element form form=form method="post" action=login_url %}
    <!-- cx -->
    {% slot body %} {% csrf_token %}
    <!-- zc -->
    {% element field1 attrs=form.email type='text' placeholder='Your Code' id='id_code' name='code' %}
    <!-- sss -->
    {% slot label %} {% translate "Code" %} {% endslot %}
    <!--  cx-->
    {% endelement %}
    <!--  dd-->
    {{ redirect_field }} {% endslot %}
    <!-- s  -->
    {% slot actions %} {% element button type="submit" tags="prominent,login" %} {% translate "Sign In" %} {% endelement %} {% endslot %}
    <!-- ds -->
    {% endelement %}
    <!-- zs -->
    {% element h2 %}
    <!-- s -->
    {% url 'account_login' as login_url %}
    <!-- hj -->
    {% element button href=login_url tags="link" %}
    <!-- hj -->
    {% translate "Other sign-in options" %}
    <!-- nj -->
    {% endelement %} {% endelement %}
    <!--cxx  -->
  </div>
</div>

{% endblock content %}
