{% extends "account/base_entrance.html" %}
<!-- cxc -->
{% load i18n allauth account static %}
<!-- gv -->
{% block title %} {% translate "Sign In" %} {% endblock title %}
<!-- ds -->
{% block content %}
<div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-2 pt-4 dark:bg-gray-900">
  <a href="{% url  'index' %}" class="mb-8 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-10">
    <img src="{% static 'images/logos/logo.png' %}" class="mr-4 h-11" alt="Rhixescans Logo" />
    <span>Rhixescans</span>
  </a>
  <div>
    {% element h2 %} {% translate "Mail me a sign-in code" %} {% endelement %}
    <!-- nhj -->
    {% element p %} {% blocktranslate %}You will receive an email containing a special code for a password-free sign-in.{% endblocktranslate %} {% endelement %}
    <!-- ds -->
    {% url 'account_request_login_code' as login_url %} {% element form form=form method="post" action=login_url tags="entrance,login" %}
    <!-- dd -->
    {% slot body %}
    <!-- cx -->
    {% csrf_token %}
    <!-- sd -->

    <!-- zc -->
    {% element field1 attrs=form.email type='email' placeholder='Your Email' id='id_email' name='email' %}
    <!-- bbm -->
    {% slot label %}
    <!-- fhh -->
    {% translate "Email" %}
    <!-- slot -->
    {% endslot %}
    <!-- hj -->
    {% endelement %}
    <!-- zc -->
    {{ redirect_field }} {% endslot %}
    <!-- sf -->
    {% slot actions %}
    <!-- cx -->
    {% element button type="submit" tags="prominent,login" %} {% translate "Request Code" %} {% endelement %}
    <!-- ccx -->
    {% endslot %}
    <!-- xcx -->
    {% endelement %}
    <!-- bjj -->
    {% element h2 %}
    <!-- hgv -->
    {% url 'account_login' as login_url %}
    <!-- hh -->
    {% element button href=login_url tags="link" %} {% translate "Other sign-in options" %} {% endelement %}
    <!-- jj -->
    {% endelement %}
  </div>
</div>

{% endblock content %}
