{% extends "account/base_entrance.html" %}
<!-- static -->
{% load allauth i18n static %}
<!-- title -->
{% block title %} {% trans "Signup" %} {% endblock title %}
<!-- content -->
{% block content %}
<div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900">
  <a href="{% url  'index' %}" class="mb-8 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-10">
    <img src="{% static 'images/logos/logo.png' %}" class="mr-4 h-11" alt="Rhixescans Logo" />
    <span>Rhixescans</span>
  </a>
  <div class="w-full max-w-xl space-y-8 rounded-lg bg-white p-6 shadow dark:bg-gray-800 sm:p-8">
    <!-- element -->
    {% element h2 %} {% trans "Create a Free Account" %} {% endelement %}
    <!-- setvar -->
    {% setvar link %}
    <a class="text-primary-700 hover:underline dark:text-primary-500" href="{{ login_url }}"> {% endsetvar %} {% setvar end_link %} </a>
    {% endsetvar %}
    <!-- element -->
    {% element div %}
    <!-- blocktrans -->
    {% blocktranslate %} Already have an account? Then please {{ link }}sign in{{ end_link }}. {% endblocktranslate %}
    <!-- end -->
    {% endelement %}
    <!-- soc -->
    {% if not SOCIALACCOUNT_ONLY %}
    <!-- url -->
    {% url 'account_signup' as action_url %}
    <!-- elemt -->
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
    <!-- slot -->
    {% slot body %} {% csrf_token %}
    <!-- elemwnt -->
    {% element fields form=form unlabeled=True %} {% endelement %}
    <!-- red -->
    {{ redirect_field }} {% endslot %}
    <!-- slot -->
    {% slot actions %}
    <!-- element -->
    {% element button2 tags="prominent,signup" type="submit" %} {% trans "Create account" %} {% endelement %}
    <!-- slot -->
    {% endslot %}
    <!-- slot -->
    {% endelement %}
    <!-- endif -->
    {% endif %}
    <!-- if -->
    {% if SOCIALACCOUNT_ENABLED %}
    <!-- icnlude -->
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    <!-- endif -->
    {% endif %}
    <!-- cont -->
  </div>
</div>

{% endblock content %}
