{% extends "base.html" %} {% load static i18n widget_tweaks component_tags %}
<!-- Modal footer -->
{% block title %}{{category.name}}{% endblock title %}
<!-- content -->
{% block content %}
<div>
  <div class="flex p-2">
    <span class="pe-2">Category name:</span>
    <h3 class="text-2xl font-bold">{{category.name|title}}</h3>
  </div>
  <div class="m-2 grid w-auto grid-cols-3 grid-rows-4 gap-2">
    {% component "card" comics=category.comic_category.all %} {% endcomponent %}
  </div>

  <div>
    <a
      href="{% url 'category:edit_category' category.pk %}"
      role="button"
      class="w-100 btn btn-primary mb-2"
      >Edit Category Comics</a
    >
    <a
      href="{% url 'category:list' %}"
      role="button"
      class="w-100 btn btn-secondary"
      >All Category
    </a>
  </div>
</div>
<!-- end -->
{% component_js_dependencies %} {% endblock content %}
