{% load static i18n %}
<div class="col-span-full mb-4">
  <nav class="mb-5 flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
      <li class="inline-flex items-center">
        <div class="flex items-center">
          <a href="{% url 'comics:detail' chapter.comic.slug %}" class="ml-1 text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500 md:ml-2">
            {% translate chapter.comic.title %}</a
          >
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="h-6 w-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <span class="ml-1 text-gray-400 dark:text-gray-500 md:ml-2" aria-current="page">{% translate chapter.name %}</span>
        </div>
      </li>
    </ol>
  </nav>
</div>
<div class="col-span-full">
  {% if pages %} {% for page in pages %} {% if page.images and page.images != "/images/placeholder.png" %}

  <div class="mx-w-md lg-max-w-lg shrink-0">
    <img class="w-full" src="{{page.images.url}}" alt="{{ page.chapter.name }}" />
  </div>
  {% else %}
  <div class="mx-w-md lg-max-w-lg shrink-0">
    <img class="w-full" src="{{page.image_urls}}" alt="{{ page.chapter.name }}" />
  </div>

  {% endif %} {% endfor %} {% else %}
  <p class="info">{% translate 'no pages found!' %}</p>
  {% endif %}
</div>
<div class="col-span-full mb-4">
  <nav class="mb-5 flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
      <li class="inline-flex items-center">
        <div class="flex items-center">
          <a href="{% url 'comics:detail' chapter.comic.slug %}" class="ml-1 text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500 md:ml-2"
            >{% translate chapter.comic.title %}</a
          >
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="h-6 w-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <span class="ml-1 text-gray-400 dark:text-gray-500 md:ml-2" aria-current="page">{% translate chapter.name %}</span>
        </div>
      </li>
    </ol>
  </nav>
</div>
