{% load static i18n mptt_tags widget_tweaks %}
<div class="bg-white py-8 antialiased dark:bg-gray-900 lg:py-16">
  <div class="mx-auto max-w-2xl px-4">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white lg:text-2xl">
        {% translate 'Create new comment' %}
      </h2>
    </div>
    <form
      class="mb-6"
      id="commentForm"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!-- med -->
      {{comment_form.media}}

      <div
        class="mb-4 rounded-lg rounded-t-lg border border-gray-200 bg-white px-4 py-2 dark:border-gray-700 dark:bg-gray-800"
      >
        <div class="space-y-4 p-4">
          {% for field in comment_form %}
          <div class="ml-3 text-xs text-red-400">
            <!-- dd -->
            {% blocktrans %} {{ field.errors }} {% endblocktrans %}
            <!-- den -->
          </div>
          <label for="{{field.label}}" class="sr-only">
            <!-- dd -->
            {% blocktrans %} {{ field.label }} {% endblocktrans %}
            <!-- den --></label
          >
          {% render_field field %}
          <span class="ml-3 text-sm text-gray-400">
            <!-- dd -->
            {% blocktrans %} {{ field.help_text }} {% endblocktrans %}
            <!-- den -->
          </span>
          {% endfor %}
        </div>
      </div>
      <div class="flex items-center justify-between px-3 py-2">
        <button
          type="submit"
          class="inline-flex items-center rounded-lg bg-primary-700 px-4 py-2.5 text-center text-xs font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900"
        >
          {% translate ' Add Comment' %}
        </button>
      </div>
    </form>
    {% with allcomments.count as total_comments %}
    <!-- dd -->
    {% blocktrans %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endblocktrans %}
    <!-- den -->
    {% endwith %}
    <!--  -->

    <article class="rounded-lg bg-white p-6 text-base dark:bg-gray-900">
      {% recursetree comments %}
      <div id="{{ node.id }}">
        <footer class="mb-2 flex items-center justify-between">
          <div class="flex items-center">
            <p
              class="mr-3 inline-flex items-center text-sm font-semibold text-gray-900 dark:text-white"
            >
              <img
                class="mr-2 h-6 w-6 rounded-full"
                src="{{ node.user.images.url }}"
                alt="{{ node.user.username }}"
              />{% translate node.user.username %}
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              <time
                pubdate
                datetime="{{ node.publish }}"
                title="{{ node.publish }}"
              >
                {{ node.publish|date:"M-d-Y" }}
              </time>
            </p>
          </div>
          <button
            id="dropdownCommentButton-{{node.id}}"
            data-dropdown-toggle="dropdownComment-{{node.id}}"
            class="inline-flex items-center rounded-lg bg-white p-2 text-center text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-50 dark:bg-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button"
          >
            <svg
              class="h-4 w-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 16 3"
            >
              <path
                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
              />
            </svg>
            <span class="sr-only">{% translate 'Comment settings' %}</span>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownComment-{{node.id}}"
            class="z-10 hidden w-36 divide-y divide-gray-100 rounded bg-white shadow dark:divide-gray-600 dark:bg-gray-700"
          >
            <ul
              class="py-1 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownMenuIconHorizontalButton"
            >
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >{% translate 'Edit' %}</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >{% translate 'Remove' %}</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >{% translate 'Report' %}</a
                >
              </li>
            </ul>
          </div>
        </footer>
        <h2 class="mb-2 text-gray-500 dark:text-gray-400">
          {% translate node.name|title %}
        </h2>
        <div class="text-gray-500 dark:text-gray-400">
          {% translate node.body|safe %}
        </div>
        <div class="mt-4 flex items-center space-x-4">
          {% if node.level < 3 %}
          <button
            type="button"
            class="button flex items-center text-sm font-medium text-gray-500 hover:underline dark:text-gray-400"
            onclick="myFunction({{ node.id }})"
          >
            <svg
              class="mr-1.5 h-3.5 w-3.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 18"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"
              />
            </svg>
            {% translate 'Reply' %}
          </button>
          {% endif %}
        </div>
      </div>
      {% if not node.is_leaf_node %}
      <div class="children pl-2 md:pl-5">{% translate children %}</div>
      {% endif %} {% endrecursetree %}
    </article>
    {% block pagination %}
    <!-- if comments.pagintor -->

    <!-- e -->
    {% if comments and comments.paginator.num_pages > 1 %}
    <nav
      class="flex flex-row items-center justify-between space-y-0 p-4"
      aria-label="Table navigation"
    >
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        {% translate 'Showing' %}
        <span class="font-semibold text-gray-900 dark:text-white"
          >{% translate comments.number %}</span
        >
        {% translate 'of' %}
        <span class="font-semibold text-gray-900 dark:text-white"
          >{% translate comments.paginator.num_pages %}</span
        >
      </span>
      <ul class="inline-flex items-stretch -space-x-px">
        {% if comments.has_previous %}
        <li>
          <button
            href="?page={{ comments.previous_page_number }}"
            class="ml-0 flex h-full items-center justify-center rounded-l-lg border border-gray-300 bg-white px-3 py-1.5 text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">{% translate 'Previous' %}</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        {% else %}
        <li>
          <button
            class="ml-0 flex h-full items-center justify-center rounded-l-lg border border-gray-300 bg-white px-3 py-1.5 text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">{% translate 'Previous' %}</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        {% endif %}
        <!-- if -->
        {% for page_number in comments.paginator.get_elided_page_range %}
        <!-- page number -->
        {% if page_number == comments.paginator.ELLIPSIS %}
        <li>
          <button
            class="flex items-center justify-center border border-gray-300 bg-white px-3 py-2 text-sm leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            {% translate page_number %}
          </button>
        </li>
        {% else %}
        <li>
          <button
            aria-current="page"
            class="{% if page_number == comments.number %} {% else %} {% endif %} z-10 flex flex items-center items-center justify-center justify-center border border border-gray-300 border-primary-300 bg-primary-50 bg-white px-3 px-3 py-2 py-2 text-sm text-sm leading-tight leading-tight text-gray-500 text-primary-600 hover:bg-gray-100 hover:bg-primary-100 hover:text-gray-700 hover:text-primary-700 dark:border-gray-700 dark:border-gray-700 dark:bg-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white"
            href="?page={{ comments.page_number }}"
          >
            {% translate page_number %}
          </button>
        </li>
        {% endif %}
        <!-- fgh -->
        {% endfor %}
        <!-- as -->
        {% if comments.has_next %}
        <li>
          <button
            href="?page={{ comments.next_page_number }}"
            class="flex h-full items-center justify-center rounded-r-lg border border-gray-300 bg-white px-3 py-1.5 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">{% translate 'Next' %}</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        {% else %}
        <li>
          <button
            class="flex h-full items-center justify-center rounded-r-lg border border-gray-300 bg-white px-3 py-1.5 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <span class="sr-only">{% translate 'Next' %}</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!-- endblock -->
    {% endblock pagination %}
  </div>
</div>

<script>
  function formExit() {
    document.getElementById("commentForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("commentForm"))) {
      document.getElementById("commentForm").remove();
    }
    const d1 = document.getElementById(id);
    d1.insertAdjacentHTML(
      "afterend",
      '<form class="mb-6" id="commentForm" method="post"> \
                <div class="flex justify-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline" onclick="formExit()"">Close</button></div></div>\
                <select body="parent" class="d-none form-selectinput" id="id_parentt"> \
                <option value="' +
        id +
        '" selected="' +
        id +
        '"></option> \
                </select> \
                <label for="id_name">Name:</label> \
                <input name="name" class="form-charinput" required id="id_name" /> \
                <label for="id_body">Body:</label> \
                <textarea name="body" cols="40" rows="5" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" required id="id_body"></textarea> \
                <label for="id_body">Body:</label> \
                <textarea name="body" cols="40" rows="5" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" required id="id_body"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
              </form>',
    );
  }
  $("#commentForm").trigger("reset");
</script>
