{% extends "account/base_manage.html" %}
<!-- bn -->
{% load static allauth account socialaccount i18n %}
<!-- title -->
{% block head_title %} {% trans "Sign In" %} {% endblock head_title %}
<!-- content -->
{% block main %}
  <div class="card">
    <div class="card-body">
      {% block content %}
      <div class="mx-auto flex flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900">
        <a href="{% url  'index' %}" class="mb-4 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-5">
          <img src="{% static 'images/logos/logo.png' %}" class="mr-4 h-11" alt="Rhixescans Logo" />
          <span>Rhixescans</span>
        </a>
        <div class="w-full max-w-xl space-y-8 rounded-lg bg-white p-6 shadow dark:bg-gray-800 sm:p-8">
          <!-- element -->
          {% element h2 %} {% trans "Sign in to platform " %} {% endelement %}
          <!-- set -->
          {% if not SOCIALACCOUNT_ONLY %}
          <!-- set -->
          {% setvar link %}
          <a class="text-primary-700 hover:underline dark:text-primary-500" href="{{ signup_url }}"> {% endsetvar %} {% setvar end_link %} </a>
          {% endsetvar %}
          <!-- el -->
          {% element p %} {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %} {% endelement %}
          <!-- url -->
          {% url 'account_login' as login_url %}
          <!-- element -->
          {% element form form=form method="post" action=login_url tags="entrance,login" %}
          <!-- slot -->
          {% slot body %}
          <!-- csr -->
          {% csrf_token %}
          <!-- mm -->
          {% element fields form=form unlabeled=True %} {% endelement %}
          <!-- mm -->
          {{ redirect_field }} {% endslot %}
          <!-- action -->
          {% slot actions %} {% element button type="submit" tags="prominent,login" %} {% trans "Sign In" %} {% endelement %} {% endslot %}
          <!-- mmm -->
          {% endelement %} {% endif %}
          <!-- nmm -->
          {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
          <!-- mm -->
          {% element hr %} {% endelement %}
          <!-- mnnn -->
          {% element button_group vertical=True %}
          <!-- mm -->
          {% if PASSKEY_LOGIN_ENABLED %} {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %} {% trans "Sign in with a passkey" %} {% endelement %}
          {% endif %}
          <!-- nn -->
          {% if LOGIN_BY_CODE_ENABLED %} {% element button href=request_login_code_url tags="prominent,login,outline,primary" %} {% trans "Mail me a sign-in code" %} {% endelement %} {% endif %}
          <!-- mmm -->
          {% endelement %} {% endif %}
          <!-- nmm -->
          {% if SOCIALACCOUNT_ENABLED %} {% include "socialaccount/snippets/login.html" with page_layout="entrance" %} {% endif %}
        </div>
      </div>
      {% endblock content %}
    </div>
  </div>
{% endblock main %}

<!-- n -->
{% block modal %}
<!-- nm -->
{{ block.super }}
<!-- mmm -->
{% if PASSKEY_LOGIN_ENABLED %}
<!-- nn -->
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
<!-- bnn -->
{% endif %}
<!-- nnn -->
{% endblock modal %}
