{% extends "account/base_manage.html" %}
<!-- bn -->
{% load static i18n widget_tweaks %}
<!-- title -->
{% block head_title %} {% trans "Sign Up" %} {% endblock head_title %}
<!-- content -->
{% block content %}
<div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 dark:bg-gray-900">
  <a href="{% url  'index' %}" class="mb-4 flex items-center justify-center text-2xl font-semibold dark:text-white lg:mb-5">
    <img src="{% static 'images/logos/logo.png' %}" class="mr-4 h-11" alt="Rhixescans Logo" />
    <span>{% trans 'Rhixescans' %}</span>
  </a>
  <div class="w-full max-w-xl space-y-8 rounded-lg bg-white p-6 shadow dark:bg-gray-800 sm:p-8">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{% trans 'Create a Free Account' %}</h2>
    <form class="mt-8 space-y-6" action="{% url 'account_signup' %}" enctype="multipart/form-data" autocomplete="off" method="post">
      {% csrf_token %} {% for hidden_field in form.hidden_fields %}
      <!-- for -->
      {{ hidden_field.errors }} {{ hidden_field }}
      <!-- endfor -->
      {% endfor %}
      <!-- non form errors -->
      {{ form.non_form_errors }}
      <div class="grid grid-cols-6 gap-3">
        <div class="col-span-6 sm:col-span-3">
          <label for="{{form.email.id}}" class="form-label">{{form.email.label}}</label>
          {% render_field form.email %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.email.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.email.errors }}</div>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="{{form.username.id}}" class="form-label">{{form.username.label}}</label>
          {% render_field form.username %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.username.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.username.errors }}</div>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="{{form.first_name.id}}" class="form-label">{{form.first_name.label}}</label>
          {% render_field form.first_name %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.first_name.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.first_name.errors }}</div>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="{{form.last_name.id}}" class="form-label">{{form.last_name.label}}</label>
          {% render_field form.last_name %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.last_name.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.last_name.errors }}</div>
        </div>
        <div class="col-span-6">
          <label for="{{form.images.id}}" class="form-label">{{form.images.label}}</label>
          {% render_field form.images %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.images.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.images.errors }}</div>
        </div>

        <div class="col-span-6">
          <label for="{{form.password1.id}}" class="form-label">{{form.password1.label}}</label>
          {% render_field form.password1 %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.password1.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.password1.errors }}</div>
        </div>
        <div class="col-span-6">
          <label for="{{form.password2.id}}" class="form-label">{{form.password2.label}}</label>
          {% render_field form.password2 %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.password2.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.password2.errors }}</div>
        </div>
        <div class="col-span-6">
          <label for="{{form.captcha.id}}" class="form-label">{{form.captcha.label}}</label>
          {% render_field form.captcha %}
          <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">{{ form.captcha.help_text }}</div>
          <div class="ml-3 text-xs text-red-400">{{ form.captcha.errors }}</div>
        </div>
        <div class="col-span-6 flex items-start">
          <div class="flex h-5 items-center">{% render_field form.remember %}</div>
          <div class="ml-3 text-sm">
            <label for="{{form.remember.id}}" class="font-medium text-gray-900 dark:text-white">{{form.remember.label}} {{ form.remember.help_text }}</label>
          </div>
        </div>
      </div>
      <div class="flex flex-row items-center justify-between gap-4">
        <button
          type="submit"
          class="w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto"
        >
          {% trans 'Create account' %}
        </button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
          {% trans 'Already have an account?' %} <a href="{% url 'account_login' %}" class="text-primary-700 hover:underline dark:text-primary-500">{% trans 'Login here' %}</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
