{% load render_table from django_tables2 %}
<!-- block chapterslist -->
<div class="progress">
  <div class="indeterminate"></div>
</div>

<div class="overflow-x-auto">
  {% block Chapterslist %}

  <div
    class="inline-block min-w-full align-middle"
    id="chapter-container"
    hx-trigger="chapter_added    from:body"
    hx-get='{% url "chapters:list" %}'
    hx-target="#chapter-container"
    hx-indicator=".progress"
  >
    {% render_table table "partials/chapters/django_tables2.html" %}
  </div>
  {% endblock Chapterslist %}
</div>


