{% extends "base.html" %} {% load static i18n widget_tweaks %}
<!-- Add chapter Drawer -->
{% block title %} {% translate comic.title %} {% endblock title %}
<!-- Add chapter Drawer -->
{% block content %}

<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="mx-auto max-w-md shrink-0 lg:max-w-lg">
        <img
          class="w-full dark:hidden"
          src="{{comic.images.url}}"
          alt="{{comic.title}}"
        />
        <img
          class="hidden w-full dark:block"
          src="{{comic.images.url}}"
          alt="{{comic.title}}"
        />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <div class="mt-4 sm:flex sm:items-center sm:gap-4">
          <p
            class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
          >
            {{comic.title}}
          </p>

          <div class="mt-2 flex items-center gap-2 sm:mt-0">
            <div class="mb-2 flex items-center gap-1">
              {% if comic.rating > 6.0 %}
              <span class="fa fa-star checked text-yellow-300"></span>
              {% else %}
              <span class="fa fa-star"></span>
              {% endif %} {% if comic.rating > 7.0 %}
              <span class="fa fa-star checked text-yellow-300"></span>
              {% else %}
              <span class="fa fa-star"></span>
              {% endif %} {% if comic.rating > 8.0 %}
              <span class="fa fa-star checked text-yellow-300"></span>
              {% else %}
              <span class="fa fa-star"></span>
              {% endif %} {% if comic.rating > 9.0 %}
              <span class="fa fa-star checked text-yellow-300"></span>
              {% else %}
              <span class="fa fa-star"></span>
              {% endif %} {% if comic.rating > 9.9 %}
              <span class="fa fa-star checked text-yellow-300"></span>
              {% else %}
              <span class="fa fa-star"></span>
              {% endif %}

              <p
                class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
              >
                {{comic.rating}}
              </p>
            </div>
            <a
              href="#"
              class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
            >
              {{comic.author}}
            </a>
          </div>
        </div>

        {% block Bookmarkbutton %}
        <div class="flex" id="bookmark-container">
          {% if request.user.is_authenticated %} {% if fav %}

          <button
            hx-post="{% url 'bookmarks:add-comic' %}"
            hx-vals='{"comictitle": "{{comic.title}}"}'
            hx-trigger="click"
            hx-swap="outerHTML"
            id="bookmark-btn"
            class="text-dark"
          >
            <svg
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-bookmark-check"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4z"
              />
              <path
                fill-rule="evenodd"
                d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"
              />
            </svg>
          </button>
          {% else %}
          <button
            id="bookmark-btn"
            hx-post="{% url 'bookmarks:add-comic' %}"
            hx-vals='{"comictitle": "{{comic.title}}"}'
            hx-trigger="click"
            class="text-dark"
          >
            <svg
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-bookmark-plus"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"
              />
              <path
                fill-rule="evenodd"
                d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"
              />
            </svg>
          </button>

          {% endif %} {% endif %}
        </div>
        {% endblock Bookmarkbutton %}

        <hr class="my-6 border-gray-200 dark:border-gray-800 md:my-8" />
        <div>
          <p class="mb-6 text-gray-500 dark:text-gray-400">
            {{comic.description}}
          </p>
        </div>

        <div class="flex justify-between p-5">
          <table class="table">
            <thead>
              <th>Status</th>
              <th>Type</th>
              <th>Artist</th>
              <th>Alternativetitle</th>
            </thead>
            <tbody>
              <tr>
                <td>{{comic.status}}</td>
                <td>{{comic.category.name}}</td>
                <td>{{comic.artist}}</td>
                <td>{{comic.alternativetitle}}</td>
              </tr>
            </tbody>
          </table>
          <div
            class="inline-flex w-48 flex-col rounded-lg border border-gray-200 bg-white text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
          >
            <button
              type="button"
              class="relative inline-flex w-full items-center rounded-t-lg border-b border-gray-200 px-4 py-2 text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-gray-500"
            >
              Genres
            </button>
            {% for genre in comic.genres.all %}
            <button
              type="button"
              class="relative inline-flex w-full items-center border-b border-gray-200 px-4 py-2 text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-gray-500"
            >
              {{genre.name}}
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="col-span-2">
  {% if chapters %}
  <div
    class="w-92 rounded-lg border border-gray-200 bg-white text-sm font-medium text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
  >
    <a
      href="#"
      aria-current="true"
      class="block w-full cursor-pointer rounded-t-lg border-b border-gray-200 bg-blue-700 px-4 py-2 text-white dark:border-gray-600 dark:bg-gray-800"
    >
      Recent Chapters
    </a>
    {% for chapter in chapters %}
    <a
      href="{% url 'chapters:detail' chapter.slug %}"
      class="block w-full cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:text-white dark:focus:ring-gray-500"
    >
      {{chapter.name}}
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% if relatedcomics %}
<aside
  aria-label="Related articles"
  class="bg-gray-50 py-8 dark:bg-gray-800 lg:py-24"
>
  <div class="mx-auto max-w-screen-xl px-4">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
      Related articles
    </h2>
    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
      {% for com in relatedcomics %}
      <article class="max-w-xs">
        <a href="{{com.get_absolute_url}}">
          <img
            class="mb-5 rounded-lg"
            src="{{com.images.url}}"
            alt="{{com.title}}"
          />
        </a>
        <h2
          class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#">{{com.title}}</a>
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          {{com.category.name}}
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium text-primary-600 underline underline-offset-4 hover:no-underline dark:text-primary-500"
        >
          {{comic.updated_at}}
        </a>
      </article>
      {% endfor %}
    </div>
  </div>
</aside>
{% endif %}

<!-- endif -->

{% endblock content %}
