{% load static %}

<div class="p-1">
  {% if comics %}
  <div class="cards my-4 grid grid-rows-2 gap-4">
    {% for comic in comics %}

    <div class="card card-compact rounded-sm border border-gray-200 bg-base-100 shadow-xl dark:border-gray-500">
      <div class="card-inner">
        <a href="{{comic.get_absolute_url}}">
          <figure class="card-front">
            {% if comic.images %}

            <img class="image-full" src="{{ comic.images.url   }}" alt="{{ comic.title   }}" />

            {% else %}
            <img class="image-full" src="{{ comic.image_urls   }}" alt="{{ comic.title   }}" />

            {% endif %}
          </figure>
        </a>
        <div class="card-back card-body grid grid-rows-2 gap-4">
          <div class="mb-3">
            <h4 class="card-title">
              <a href="{{comic.get_absolute_url}}">{{ comic.title }}</a>
            </h4>
            <p>{{comic.category.name}}</p>
          </div>

          {% if comic.chapter_set.all %}
          <ul class="card-actions mt-4">
            {% for chapter in comic.chapter_set.all %}
            <li>
              <a href="{{ chapter.get_absolute_url}}">{{chapter.name}}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %} {% if comic.genres.all %}
          <div class="card-actions justify-end">
            {% for genre in comic.genres.all %}
            <button class="btn btn-primary btn-sm">{{genre.name}}</button>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <span>No comics</span>
  {% endif %}
</div>
{% include 'partials/views/pagination.html' %}
