{% load static i18n component_tags %}
<section>
  {% if featuredcomics %}
  <div class="mb-4 mt-4">
    <h3 class="mb-4 text-2xl font-bold leading-none tracking-tight text-gray-900 dark:text-white md:text-3xl lg:text-4xl">Featured Comics</h3>
    <div class="grid grid-cols-2 gap-2">
      {% for comic in featuredcomics %}
      <div class="card card-compact w-auto border border-gray-400 bg-base-100 p-2 shadow-xl">
        <figure>
          <a href="{{comic.get_absolute_url}}">
            {% if comic.images and comic.images != "/images/placeholder.png" %}
            <img src="{{comic.images.url}}" alt="Shoes" />
            {% else %}
            <img src="{{comic.image_urls}}" alt="Shoes" />
            {% endif %}
          </a>
        </figure>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{comic.get_absolute_url}}">{{comic.title|title}} </a>
          </h4>
          <p>
            Type:
            <a href="{{comic.category.get_absolute_url}}">{{comic.category.name}}</a>
          </p>

          <p>Status: {{comic.get_status_display}}</p>
          <div class="flex items-center gap-1">
            <span class="fa fa-star {% if comic.rating > 5.5 %} checked {% endif %} text-yellow-300"></span>
            <span class="fa fa-star {% if comic.rating > 6.5 %} checked {% endif %} text-yellow-300"></span>
            <span class="fa fa-star {% if comic.rating > 7.5 %} checked {% endif %} text-yellow-300"></span>
            <span class="fa fa-star {% if comic.rating > 8.5 %} checked {% endif %} text-yellow-300"></span>
            <span class="fa fa-star {% if comic.rating > 9.5 %} checked {% endif %} text-yellow-300"></span>
            <p class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">{{comic.rating}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
