{% extends "base.html" %} {% load static i18n widget_tweaks %}
<!-- Modal footer -->
{% block title %}Bookmarks{% endblock title %}
<!-- content -->
{% block content %}
<div class="col-span-10 items-center ring-offset-1">
  {% comment %}
  <div class="flex items-center justify-between">
    <p class="ml-0">My Comics</p>
    <form
      class="flex items-center"
      hx-post="{% url 'bookmarks:add-comic' %}"
      hx-target="#comic-list"
      hx-swap="outerHTML"
      hx-encoding="multipart/form-data"
      _="on submit toggle @disabled on #addcomic-btn until htmx:afterOnLoad then put '' into #comictitle-input's value "
    >
      <input
        type="text"
        id="comictitle-input"
        name="comictitle"
        placeholder="Enter a Comic"
        class="form-charinput form-control mr-2"
      />
      <button id="addcomic-btn" type="submit" class="btn btn-success btn-sm">
        Add Comic
      </button>
    </form>
  </div>
  <hr />
  {% endcomment %}

  <section class="col-span-12">
    <h2>My Comics</h2>
    <main class="flex">{% include 'partials/bookmarks/comic-list.html' %}</main>
  </section>
</div>
{% endblock content %}
