{% for comic in comics %}
<div>
  <input type="hidden" name="comic_order" value="{{ comic.id }}" />
  <li class="list-group-item flex items-center justify-between">
    <a style="cursor: pointer" href="{{comic.comic.get_absolute_url}}">
      #{{comic.order}} {{ comic.comic.title }}
    </a>
    <span
      class="badge-danger badge-pill badge"
      style="cursor: pointer"
      hx-delete="{% url 'bookmarks:delete-comic' comic.comic.id  %}"
      hx-confirm="Are you sure you want to remove {{comic.comic.title}} from your bookmarks"
      hx-trigger="click"
      hx-target="#comic-list"
      hx-swap="outerHTML"
      >X</span
    >
  </li>
</div>
{% endfor %}
