{% extends "base.html" %} {% load static i18n component_tags %}
<!-- title -->
{% block title %} {% trans 'Index' %} {% endblock title %}
<!-- content -->
{% block content %}

<div class="p-4">
  {% comment %}
  <div x-data="{currentTab : 'Home'}">
    <!--Tabs navigation-->
    <ul class="mb-5 flex list-none flex-row flex-wrap border-b-0 ps-0" role="tablist" data-twe-nav-ref>
      {% with 'Home Profile Messages' as tablist %} {% include 'partials/views/tab.html' with tabs=tablist.split %} {% endwith %} {% include 'partials/views/tab.html' %}
    </ul>

    <!--Tabs content-->
    <div class="mb-6">
      <div
        x-show="currentTab == 'Home'"
        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
        id="tabs-home"
        role="tabpanel"
        aria-labelledby="tabs-home-tab"
        data-twe-tab-active
      >
        Tab 1 content
      </div>
      <div
        x-show="currentTab == 'Profile'"
        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
        id="tabs-profile"
        role="tabpanel"
        aria-labelledby="tabs-profile-tab"
        data-twe-tab-active
      >
        Tab 2 content
      </div>
      <div
        x-show="currentTab == 'Messages'"
        class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
        id="tabs-messages"
        role="tabpanel"
        aria-labelledby="tabs-profile-tab"
        data-twe-tab-active
      >
        Tab 3 content
      </div>
    </div>
  </div>
  <br />
  {% endcomment %} {% include 'partials/views/carousel.html' %}

  <br />

  <br />
  {% include 'partials/views/hero.html' %}
  <br />
  {% include 'partials/views/grid.html' %}
</div>
<!-- ensl -->
{% endblock content %}
