{% load render_table from django_tables2 %}
<!-- block comicslist -->
<div class="progress">
  <div class="indeterminate"></div>
</div>

<div class="overflow-x-auto">
  {% block Comicslist %}

  <div
    class="inline-block min-w-full align-middle"
    id="comic-container"
    hx-trigger="comic_added    from:body"
    hx-get='{% url "comics:list" %}'
    hx-target="#comic-container"
    hx-indicator=".progress"
  >
    {% render_table table "partials/comics/django_tables2.html" %}
  </div>
  {% endblock Comicslist %}
</div>


