{% load static i18n %}
<!-- get lang -->
{%get_current_language as LANGUAGE_CODE %}
<!-- load -->
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/logos/logo.ico' %}"
      type="image/x-icon"
    />
    <title>
      {% block title %} {% trans "Rhixescans" %} {% endblock title %}
    </title>

    <!-- css -->
    {% block css %}
    <!-- nn -->
    {% render_bundle 'index' 'css' %}
    <!-- nhg -->
    {% endblock css %}
    <!-- js -->
    {% block js %}
    <!-- nm -->
    {% render_bundle 'index' 'js' attrs='defer' %}
    <!-- nnm -->
    {% render_bundle 'vendors' 'js' attrs='defer' %}
    <!-- nn -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- nn -->
    <script src="{% static 'js/token.js' %}"></script>
    <script async defer src="{% static 'js/buttons.js' %}"></script>
    <!-- endjs -->
    {% endblock js %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="false">
    <!-- body -->
    {% block body %}
    <div class="bg-gray-100 dark:bg-gray-900">
      <!-- header -->
      {% include 'partials/header.html' %}
      <!-- sidebar -->
      {% include 'partials/sidebar.html' %}
      <div class="flex overflow-hidden pt-16">
        <div id="main-content" class="relative w-full overflow-y-auto lg:ml-64">
          <main>
            <!-- message -->
            {% include 'partials/message.html' %}
            <!-- content -->
            {% block content %} {% endblock content %}
          </main>

          {% include 'partials/footer.html' %}
        </div>
      </div>
    </div>
    {% endblock body %}
    <!-- extra -->

    {% block extra_body %} {% endblock extra_body %}
    <!-- body -->
    {% block injs %} {% endblock injs %}
  </body>
</html>
